<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/create" method="post" enctype="multipart/form-data">
        <input style="display: block; margin-bottom: 10px;" type="text" name="maTour" id="" placeholder="mã tour">
        <input style="display: block; margin-bottom: 10px;" type="text" name="tenTour" id="" placeholder="tên tour">
        <input style="display: block; margin-bottom: 10px;" type="text" name="theLoai" id="" placeholder="thể loại">
        <input style="display: block; margin-bottom: 10px;" type="text" name="thoiGian" id="" placeholder="giời gian">
        <input style="display: block; margin-bottom: 10px;" type="text" name="gia" id="" placeholder="giá">
        <input style="display: block; margin-bottom: 10px;" type="text" name="ghiChu" id="" placeholder="ghi chú">
        <input style="display: block; margin-bottom: 10px;" type="submit" value="save" class="btn btn-primary">
    </form>
    <script>
    </script>
</body>

</html>